<c-container>
  <c-col xs="12">
    <img
      src="../../../../assets/img/brand/icono-nuevo-paciente.png"
      alt=""
      srcset=""
    />
  </c-col>

  <mat-card>
    <form [formGroup]="formulario" novalidate cForm>
      <c-col xs="12">
        <c-card>
          <c-card-header>
            <c-row>
              <c-col>
                <strong> Paciente: </strong>
                {{ paciente | titlecase }}
              </c-col>
              <!-- <c-col style="text-align: right">
                <button
                  (click)="verInstrucciones()"
                  type="button"
                  mat-raised-button
                  color="info"
                >
                  <mat-icon style="color: #00838f">help</mat-icon> ¿Cómo
                  Tamizar?
                </button>
              </c-col> -->
            </c-row>
          </c-card-header>
        </c-card>
      </c-col>
      <mat-card>
        <div class="col-md-12">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Instrucciones</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-divider></mat-divider>
              <br />

              <!-- Instrucciones para tamizar -->
              <ol>
                <li>Selecciona un Contraste</li>
                <li>Toma mínimo 1 o máximo 3 fotos</li>
                <li>Selecciona la mejor foto</li>
                <li>Selecciona VPH + o VPH - si está habilitado</li>
                <li>Click en Guardar</li>
              </ol>

              <mat-divider></mat-divider>
            </mat-card-content>
          </mat-card>
        </div>
        <c-row class="mt-5">
          <c-col xs="4">
            <div class="mb-3">
              <!-- Contraste -->
              <mat-form-field appearance="legacy">
                <mat-label for="contraste">
                  <mat-icon>group_work</mat-icon> Contraste:
                </mat-label>
                <mat-select formControlName="contraste">
                  <mat-option value="">-- Seleccione -- </mat-option>
                  <mat-option
                    *ngFor="let contraste of contrastes"
                    [value]="contraste"
                  >
                    {{ contraste }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </c-col>
        </c-row>
        <webcam
          [height]="550"
          [width]="550"
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          *ngIf="showWebcam && !tamizajeApartirDeOtro"
          [allowCameraSwitch]="allowCameraSwitch"
          [switchCamera]="nextWebcamObservable"
          [imageQuality]="1"
          (cameraSwitched)="cameraWasSwitched($event)"
        ></webcam>
        <div class="ctn-btns" *ngIf="!tamizajeApartirDeOtro">
          <button
            [disabled]="btnCapture"
            class="btn btn-primary boton-capturar"
            (click)="triggerSnapshot()"
          >
            Tomar Foto
          </button>
          <button
            class="btn btn-primary"
            (click)="showNextWebcam(true)"
            [disabled]="!multipleWebcamsAvailable"
          >
            Cambiar de camara
          </button>
          <div class="mb-4">
            <label cLabel for="exampleFormControlInput1">Cargar Foto</label>
            <input
              [disabled]="btnCapture"
              type="file"
              multiple="true"
              (change)="capturarImagen($event, '1')"
              cFormControl
            />
          </div>
        </div>
        <br />
        <div
          class="ctn-spinner"
          style="width: 100%; text-align: center"
          *ngIf="cargandoImagenes"
        >
          <c-spinner color="success"></c-spinner>
          <p style="margin: 0">Cargando Imagenes...</p>
        </div>
        <ul class="list-unstyled" *ngIf="!cargandoImagenes">
          <li>
            <mat-radio-group class="mt-2">
              <c-row class="mt-1">
                <c-col>
                  <div class="mb-3 ctn-img" *ngIf="!modoPruebas">
                    <mat-radio-button
                      *ngFor="let src of webcamImage; let idx = index"
                      (click)="setPhoto(idx)"
                      [value]="idx"
                      style="margin-bottom: 8px"
                      [formControl]="checkImagen"
                      name="checkImagen"
                      ngDefaultControl
                      >Imagen
                      {{ idx + 1 }}
                      <mat-card class="card-imagen">
                        <!-- Previsualización de Imagenes -->
                        <img
                          [src]="src.imageAsDataUrl"
                          height="330"
                          width="330"
                        />
                      </mat-card>
                    </mat-radio-button>
                  </div>
                  <div class="mb-3 ctn-img" *ngIf="modoPruebas">
                    <mat-card
                      class="card-imagen"
                      *ngFor="let src of webcamImage; let idx = index"
                    >
                      <!-- Previsualización de Imagenes -->
                      <img
                        [src]="src.imageAsDataUrl"
                        height="330"
                        width="330"
                      />
                    </mat-card>
                  </div>
                </c-col>
              </c-row>
            </mat-radio-group>
          </li>
        </ul>
        <c-row>
          <c-col>
            <div *ngIf="estadoConfiguracionVph === 'true'">
              Seleccionar VPH

              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName="vph"
              >
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let vph of opcionesVph"
                  [value]="vph"
                >
                  {{ vph }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </c-col>
        </c-row>
      </mat-card>
      <br />

      <button
        type="submit"
        style="margin-right: 5px"
        mat-raised-button
        color="primary"
        [disabled]="cargandoImagenes"
        *ngIf="!loading"
        (click)="save()"
      >
        <mat-icon>save</mat-icon>{{ "Guardar" }}
      </button>
      <button *ngIf="loading" cButton class="m-1" disabled>
        <c-spinner aria-hidden="true" size="sm"></c-spinner>
        Guardando...
      </button>
    </form>
  </mat-card>
</c-container>
<c-toaster class="p-3" position="fixed"></c-toaster>
